.required{
    font-size: 0.7em;
    color: red;
}

.select{
    width: 300px;
}

.city-name{
    text-transform: capitalize;
}

.temp-value, .city-value, .wind-value{
    color: red
}

h3{
    color: lightslategray;
}

.two-hour, .five-hour, .eight-hour{
    color: tomato;
}

.forecast{
    border-top: 1px solid goldenrod
}

.footer-history{
    background-color: beige;
}