.items{
    font-size: 0.8rem;
    background-color: whitesmoke;
}

h3{
    text-transform: capitalize;
}

.quote{
    font-style: italic;
    font-size: 0.8rem;
}
.poke{
    border: 1px solid lightsteelblue
}

.hover{
    background-color: rgba(128, 128, 128, 0.5);
}

.details{
    text-align: center;
    border-bottom: 1px solid lightsteelblue;
    position: sticky;
}

.name-header{
    background-color: rgb(250, 250, 0);
    padding-bottom: 5px;
    background: linear-gradient(90deg, rgba(250,250,0,1) 0%, rgba(250,250,210,1) 100%);
}

ul{
    text-align: left;
    text-transform: capitalize;
}